[submodule "emacs/epy"]
	path = emacs/epy
	url = git://github.com/gabrielelanaro/emacs-for-python
[submodule "sublime3/Package Control"]
	path = sublime3/Package Control
	url = https://github.com/wbond/sublime_package_control.git
