/sublime/Packages/SublimeCodeIntel/*
*.last-run
*.cache
*.zip
*.pyc
*/archive-contents

sublime/Packages/User/FileHistory.sublime-settings

/emacs/org-clock-save.el

*.DS_Store

*~
[#]*[#]
.\#*

archive-contents
*.dat

# Don't worry about log files
*.log
*.sqlite
*.pid
log/

security/
db/
mathjax/

sublime3/User/Package Control.last-run
sublime3/User/Package Control.ca-list
sublime3/User/Package Control.ca-bundle
sublime3/User/Package Control.system-ca-bundle
sublime3/User/Package Control.cache/
sublime3/User/Package Control.ca-certs/
.SublimeREPLHistory/


*.db
sublime3/User/FileHistory.sublime-settings
vim/.netrwhist
static/
python/ipython/profile_julia/
python/ipython/profile_odyssh/
python/ipython/profile_sshserver/
python/ipython/profile_cluster/
