;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Jun 18 10:12:16 2013
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/spencerlyon2/Documents/Python/hbs/setup.py"
  "setup.py"
  'python-mode
  '(visual-line-mode global-visual-line-mode yas/minor-mode auto-complete-mode global-auto-revert-mode project-persist-mode)
  1029
  '(144 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/spencerlyon2/Documents/Python/hbs/xdressrc.py"
  "xdressrc.py"
  'python-mode
  '(visual-line-mode global-visual-line-mode yas/minor-mode auto-complete-mode global-auto-revert-mode project-persist-mode)
  257
  '(748 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix) (truncate-lines)))

(desktop-create-buffer 206
  "/Users/spencerlyon2/Documents/Python/Open_Source/xdress/xdress/utils.py"
  "utils.py"
  'python-mode
  '(visual-line-mode global-visual-line-mode yas/minor-mode auto-complete-mode global-auto-revert-mode project-persist-mode)
  232
  '(532 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix) (truncate-lines)))

